/* styles.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para secciones */
section {
    padding: 50px;
}

/* Estilos para botones */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #0056b3;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
    header {
        text-align: center;
    }
    nav {
        display: block;
        text-align: center;
    }
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
    section {
        padding: 30px;
    }
}
/* Agrega estos estilos al final de tu archivo styles.css o en un nuevo archivo CSS */

/* Estilo para las imágenes del carrusel */
.carousel-item img {
    max-height: 400px; /* Establece el máximo alto de las imágenes */
    width: auto; /* Permite que el ancho se ajuste automáticamente */
}
